# Build results
bin/
obj/
.vs/

# User-specific files
*.user
*.userprefs
*.sln.iml

# Visual Studio cache/options
.vscode/

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg

# Local environment
.env
.env.local
